table(class="table")
  each prod in products

    thead
      tr            
        th(scope="col") Producto
        th(scope="col") Precio
        th(scope="col") Imagen
    tbody
      tr
        td(class="titleProd")= prod.title
      tr    
        td(class="priceProd")= prod.price
      tr
        td
          img(class="thumbnailProd", src= prod.thumbnail )


